
body{
  background-color: #121212;
    text-align: center;
    color: wheat;
    margin: auto;
    font-size: 18px;

}
@keyframes header {
  from{color:salmon;}
  to{color:darkcyan;}
}
@keyframes clock {
  from{color: hsl(141, 12%, 44%);}
  to{color:rgb(16, 240, 240);}
}
@keyframes show {
  from{color:darksalmon;}
  to{color:rgb(245, 7, 86);}
}
h1{
    text-shadow: 1px slategray;
    font-size: 60px;
    color:salmon;
    animation: header 4s infinite ease-in-out;
}

.content{
  background-image: url(IMG/background.jpg);
  background-size: cover;
  width: 100%;
}

#clock {
  font-family: 'Orbitron', sans-serif;
  color: hsl(141, 12%, 44%);
  font-size: 56px;
  padding-top: 40px;
  padding-bottom: 40px;
  border:  1px solid wheat;
  animation: clock 4s infinite ease-in-out;
}
.show{
  color:darksalmon;
  font-size: 40px;
  padding-top: 30px;  
  border: 1px solid wheat;
  animation: show 4s infinite ease-in-out;

}
input{
  font-size: 20px;
}
button{
  border: 1px solid wheat;
  padding: 10px;
  margin: 20px;
  font-size: 18px;
  transform: transform .5s;
}
button:hover{
  transform: scale(1.2);
}
br{
  font-size: 30px;
}

.container{
  display: flex;;
}
img{
  width: 90%;
  height: 660px;
  transition: transform .3s;
}
img:hover{
  transform: scale(1.1);
}
.toggle{
  display: none;
}
#top{
  position: fixed;
  bottom: 20px;
  right: 20px;
}
footer{
  height: 100%;
  padding-top: 30px;
  border: 1px solid grey;
  text-align: right;
}
footer>div{
  color: slategray;
 
}
a{
  text-decoration: none;
}
.imgSlide_1,.imgSlide_2,.imgSlide_3,.imgSlide_4{
  display:none;
}
/*

*/

