html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
  font-family: "Roboto Condensed", sans-serif;
  font-style: normal;
  font-weight: 300;
  background-color: #121212;
  text-align: center;
  color: white;
  font-size: 18px;
}

.container {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-shadow: 1px slategray;
  font-size: 70px;
}

#clock {
  font-family: "Orbitron", sans-serif;
  color: rgb(28, 177, 28);
  font-size: 56px;
  padding: 40px 50px;
  border: 1px solid wheat;
  border-radius: 40px;
  margin-top: 15px;
}

input {
  display: block;
  color: rgb(28, 177, 28);
  width: 100%;
  font-size: 20px;
  text-align: center;
  margin-top: 15px;
}

button {
  background-image: linear-gradient(
    to right,
    #29323c,
    #485563,
    #2b5876,
    #4e4376
  );
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
  color: rgb(232, 230, 227);
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background-size: 300% 100%;
  padding: 10px;
  margin: 20px;
  font-size: 18px;
  width: 70%;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

button:hover {
  background-position: 100% 0;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

button:focus {
  outline: none;
}

br {
  font-size: 30px;
}

#sectionButtonView {
  overflow: hidden;
}

#sectionTimeView {
  width: 50%;
  margin-top: 50px;
  height: 0px;
  overflow: hidden;
}

.expandTimeView {
  animation: expandTime 1.2s ease;
}

.expandButtonView {
  animation: expandButton 1.2s ease;
}

@keyframes expandTime {
  0% {
    height: 0;
  }

  100% {
    height: 400px;
  }
}

@keyframes expandButton {
  0% {
    height: 0px;
  }

  100% {
    height: 400px;
  }
}

#timeDivs {
  display: flex;
  justify-content: center;
  margin: 25px;
  font-size: 18px;
  color: rgb(28, 177, 28);
  flex-wrap: wrap;
}

#timeDivs > div {
  margin: 25px;
}

#goTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  width: auto !important;
}

.dropdown {
  display: flex;
  position: fixed;
  left: 2%;
  bottom: 2%;
}

a {
  text-decoration: none;
}

.dropdown-content {
  display: none;
}

.dropdown-content a {
  display: inline;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: inline;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
@media screen and (max-width: 530px) {
  body{
    font-size:15px;
  }
  h1{
    font-size:40px;
  }
  #clock {
    font-size:30px;
  }
  #timeDivs{
    font-size: 15px;
  }
  button, input{
    font-size:15px;
  }
  #sectionTimeView {
    width: 100%;
}
}

@media screen and (max-width:257px){
  body{
    font-size:14px;
  }
  h1{
    font-size:20px;
  }
  #clock {
    font-size:16px;
  }
  #timeDivs>div{
    margin: 10px;
  }
  .dropdown{
    font-size:10px;
  }
 

}
@media screen and (max-width:182px){
  body{
    font-size:12px;
  }
  #clock{
    padding:15px;
  }
  button, input{
    font-size:12px;
  }
}