
body{
  background-color: #121212;
    text-align: center;
    color: #ec61cefd;
    margin: auto;
    font-size: 18px;

}
@keyframes header {
  from{color:#f7240c;}
  to{color:#4ffc0a;}
}
@keyframes clock {
  from{color: hsl(141, 12%, 44%);}
  to{color:rgb(16, 240, 240);}
}
@keyframes show {
  from{color:darksalmon;}
  to{color:rgb(245, 7, 86);}
}
h1{
    text-shadow: 1px slategray;
    font-size: 70px;
    color:#f7240c;
    animation: header 4s infinite ease-in-out;
}

.content{
  background-image: url(IMG/background.jpg);
  background-size: cover;
  width: 100%;
}

#clock {
  font-family: 'Orbitron', sans-serif;
  color: hsl(141, 12%, 44%);
  font-size: 56px;
  padding-top: 40px;
  padding-bottom: 40px;
  border:  1px solid wheat;
  border-radius: 40px;
  animation: clock 4s infinite ease-in-out;
}
#clock:hover{
  background-color: rgba(84, 219, 152, 0.1);
  border: 1px mediumslateblue transparent;
  font-size: 60px;
  transition:transform 2s;
}
.show{
  color:darksalmon;
  font-size: 40px;
  padding-top: 30px;  
  border: 1px solid wheat;
  border-radius: 40px;

  animation: show 4s infinite ease-in-out;

}
.show:hover{
  background-color: rgba(26, 29, 28, 0.5);
  border: 1px rgb(30, 17, 100) transparent;
}
input{
  color:rgb(28, 177, 28);

  font-size: 20px;
}
button{
  color:rgb(28, 177, 28);
  border: 1px solid wheat;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  font-size: 18px;
  transform: transform .5s;
}
button:hover{
  transform: scale(1.2);
}
br{
  font-size: 30px;
}

.container{
  display: flex;;
}
img{
  width: 500px;
  height: 660px;
  transition: transform .3s;
  margin: 10px;
}
img:hover{
  transform: scale(1.1);
}
#imgMid{
  width:100%;
  height: auto;
}
.toggle{
  display: none;
}
#top{
  position: fixed;
  bottom: 20px;
  right: 20px;
}
footer{
  display: flex;
  height: 100%;
  margin:10px;
  border: 1px solid grey;
  text-align: right;
}
footer>div{
  color: slategray;
  padding: 5px;
  margin-left: 50px;
}
footer>div:hover{
  background-color:grey;
}
a{
  text-decoration: none;
}
/*

*/
@media only screen and (max-width:800px) {
  /* For tablets: */
  .img {
   width: 250px;
   height:330px;
  }
}

